*{
    margin: 0;
    padding: 0;
}

p{
    text-align: center;
    color: orange;
    font-size: x-large;
}
body{
    background-color: white;
    font-family: sans-serif;
}
.contact-box{
    width: 500px;
    background-color: white;
    box-shadow: 0 0 20px 0 orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form{
    margin: 35px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid orange;
    border-radius: 14px;
    outline: none;
}
.textarea-filed{
    height: 150px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: olive;
    margin-top: 18px;
    padding: 10px;
    background-color: orange;
    font-size: 12px;
    cursor: pointer;
    border: none;
}
button:hover{
    background: transparent;
    border: 2px solid rosybrown;
}






